{% extends "base.html" %}
{% block head %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="/static/js/bootbox.min.js"></script>
{% endblock %}

{% block content %}
    <h3>Profile name</h3>
    <p>{{ content_profile.name }}</p>
    <h3>Website URL</h3>
    <p>{{ content_profile.url }}</p>
    <h3>Number of viewers who dismissed the overlay vs. those who did not</h3>
    <p><div id="chart_div"></div></p>
    <h3>Paste this code on your site</h3>
    <p><textarea disabled="true" rows="10" cols="80" class="span">some js code here</textarea></p>
    <h3>Content stored</h3>
    <p><textarea disabled="true" rows="10" cols="80" class="span">{{ content_profile.content }}</textarea></p>
    <a href="" class="btn btn-danger confirm">Delete profile</a>

{#    {% url content_profile_drop id=content_profile.id%}#}
{% if pstats %}
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['corechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
          var data = google.visualization.arrayToDataTable([
              ['date', 'seen', 'read'],
              {% for s in pstats %}
                  ['{{s.action_datetime}}', {{s.seen}}, {{s.read}}], 
              {% endfor %}
            ]);

            var options = {
              title: '',
              width:700,
              vAxis: {
                 viewWindow:{min:0},
              },
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(data, options);
      }

    </script>

{% endif %}

    <script type="text/javascript">
        // Confirmation
        $("a.confirm").click(function(e) {
            e.preventDefault();
            bootbox.confirm("Are you sure?", function(confirmed) {
                if(confirmed){
                    location.href="{% url content_profile_drop id=content_profile.id%}";
                }
            });
        });
    </script>

{% endblock %}
{% block bottom-bar %}

        <td valign="bottom">
            <div class="bottombar" >
                <div class="bottombar-inner">
                    <div class="foot-container">
                      <hr/>
                        <a href="/legal/">Legal</a>&nbsp;|&nbsp;<a href="/privacy_policy/">Privacy Policy</a>&nbsp;|&nbsp;<a href="/contact/">Contact</a>
                    </div>
                </div>
            </div>

        </td>
{% endblock %}
